<p id="notice"><%= notice %></p>

<div id="post-content" class="span-17">
  <div class="post_title">
  <h1><%= @post.title %></h1>
  </div>
 

 <div class="post_body">
    <p>By <%= @post.user.name %>
    on <%= @post.created_at.strftime("%B %d, %Y")  %> in  Last update: <%= @post.updated_at %>
    
    <%= link_to 'Читать дальше >>', post_category_post_path(@post_category,post) %>
    
    <% if !@post.categories.empty? then %>
        | Categories: <% @post.categories.each do |cat| %>
        <%= cat.name %>
        <% end
    
 </p>
 
    <p>
      <%= raw (@post.body) %>
    </p>
  </div>
  <p>
  <b>Tags:</b>
  <ul>
  <% @post.tags.each do |tag| %>
    <li><%= link_to tag , { :action => :tag, :id => tag.name } %></li>
  <% end %>
  </ul>
</p>
</div>

<ul class="nav">
<% if can? :manage, @post %>
  <li><%= link_to 'Edit', edit_post_path %></li>
<% end %>

<% if can? :manage, @post %>
      <li><%= link_to 'Delete', @post, :confirm => 'Are you sure?', :method => :delete %></li>
   <% end %>



</ul>

<%= link_to 'Back', posts_path %>